[{:y 13,
  :r 0,
  :color "#000000",
  :fill "#CCCCCC",
  :width 262,
  :type "rect",
  :cap "round",
  :borderWidth 1,
  :style "Solid",
  :x 19,
  :height 101}
 {:y 122,
  :family "sans-serif",
  :color "#0000FF",
  :fill {:r 256, :g 0, :b 0, :a 0.5},
  :width 10,
  :type "textBlock",
  :cap "round",
  :borderWidth 1,
  :size "24px",
  :style "Solid",
  :pad 3,
  :weight "bold",
  :x 12,
  :height 25.19999999999999,
  :text "DojoX Drawing Rocks"}
 {:y 208,
  :family "sans-serif",
  :color "#000000",
  :fill "#CCCCCC",
  :width 200,
  :type "text",
  :cap "round",
  :borderWidth 1,
  :size "18px",
  :style "Solid",
  :pad 3,
  :weight "normal",
  :x 12,
  :height 25.19999999999999,
  :text "This is just text"}]
