[{:y 27,
  :r 0,
  :color "#000000",
  :fill "#CCCCCC",
  :width 100,
  :type "rect",
  :cap "round",
  :borderWidth 1,
  :style "Solid",
  :x 50,
  :height 100}
 {:y 30,
  :family "sans-serif",
  :color "#0000FF",
  :fill {:r 256, :g 0, :b 0, :a 0.5},
  :width 10,
  :type "textBlock",
  :cap "round",
  :borderWidth 1,
  :size "24px",
  :style "Solid",
  :pad 3,
  :weight "bold",
  :x 20,
  :height 25.200000000000003,
  :text "DojoX Drawing Rocks"}
 {:rx 69.5,
  :color "#0000FF",
  :fill "#0000ff",
  :type "ellipse",
  :cap "round",
  :borderWidth 1,
  :style "Solid",
  :cx 230.5,
  :cy 228,
  :ry 57}
 {:color "#000000",
  :fill "#CCCCCC",
  :y1 20,
  :type "arrow",
  :cap "round",
  :borderWidth 3,
  :style "Solid",
  :label "My Arrow",
  :x1 40,
  :y2 120.00000000000003,
  :x2 -133.20508075688772}
 {:y 26,
  :family "sans-serif",
  :color "#000000",
  :fill "#CCCCCC",
  :width 200,
  :type "text",
  :cap "round",
  :borderWidth 1,
  :size "18px",
  :style "Solid",
  :pad 3,
  :weight "normal",
  :x 30,
  :height 25.200000000000003,
  :text "This is just text"}
 {:color "#000000",
  :style "Solid",
  :cap "round",
  :fill "#CCCCCC",
  :borderWidth 1,
  :points
  [{:x 70, :y 20}
   {:x 65, :y 15}
   {:x 75, :y 15}
   {:t "Z", :x 70, :y 20}
   {:t "M", :x 70, :y 40}
   {:x 68, :y 12}
   {:x 72, :y 12}], 
  :type "path"}]
